.moviePoster {
    padding-bottom: 20px;
    padding-right: 30px;
    height: 20vw;
}

.movieDetailsBox {
    display: flex;
}

.goBackBtn {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
    background-color: rgb(49, 226, 43);
    border-radius: 10px;

}

.goBackBtn:hover { 
    cursor: pointer; 
background-color: aqua;}

.movieInfo {
    font-size: 20px;
    text-align: justify;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.homeNav {
    border-top: 3px solid gray;
    border-bottom: 3px solid gray;
    display: flex;
    flex-direction: column;
}

.addInfoBox {
    list-style: none;
    
}

.homeLink {
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 700;
}