.moviePoster {
    padding-bottom: 20px;
    padding-right: 30px;
    height: 20vw;
}

.movieDetailsBox {
    display: flex;
}

.goBackBtn {
    margin-top: 10px;
    margin-bottom: 5px;
}

.movieInfo {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.homeNav {
    border-top: 3px solid gray;
    border-bottom: 3px solid gray;
    display: flex;
    flex-direction: column;
}