.castTittleBox {
    display: flex;
    margin: auto;
    justify-content: center;
}

.actorsBox {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
}

.castTittle {
    font-size: 40px;
}
.listOfActors {
    list-style: none;
}
.emptyImage {
    display: flex;
    height: 275px;
    width: 185px;
    border: 1px solid grey;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}

.actorName {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 700;
}